{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'utils.css' %}">
    <!-- Link to 'style.css' -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- Link to 'mobile.css' -->
    <link rel="stylesheet" href="{% static 'mobile.css' %}">
    <title>Search</title>
</head>
<body>
    <nav class="navigation max-width-1 m-auto">
        <div class="nav-left">
            <a href="/">
                <span><img src="{% static 'logo_f.png' %}" width="94px" alt=""></span>

            </a>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="{% url 'blogg' %}">Post Your Blog</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>
        <div class="nav-right">
            <form action="{% url 'search' %}" method="get">
                <input class="form-input" type="text" name="query" placeholder="Article Search">
                <button class="btn">Search</button>
            </form>

        </div>

    </nav>
 

    <div class="max-width-1 m-auto"><hr></div>
    <div class="home-articles max-width-1 m-auto font2">
        
        <h2>Search Results for Django (0.03 seconds)</h2>
        <div class="year-box adjust-year">
            <div>
                <h3>Year </h3>
            </div>
            <div>
                <input type="radio" name="year" id=""> 2020
            </div>
            <div>
                <input type="radio" name="year" id=""> 2021
            </div>
        </div>
        <div class="home-article">
            <div class="home-article-img">
                <img src="{% static 'deloitte.jpg' %}" alt="article">

            </div>
            <div class="home-article-content font1">
                <a href="blogpost2.html">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                </a>

                <div>Author Name</div>
                <span>07 January | 6 min read</span>
            </div>
        </div>
        <div class="home-article">
            <div class="home-article-img">
                <img src="{% static 'jp.jpg' %}" alt="article">

            </div>
            <div class="home-article-content font1">
                <a href="blogpost2.html">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                </a>

                <div>Author Name</div>
                <span>07 January | 6 min read</span>
            </div>
        </div>
        <div class="home-article">
            <div class="home-article-img">
                <img src="{% static 'accenture.jpg' %}" alt="article">

            </div>
            <div class="home-article-content font1">
                <a href="blogpost2.html">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                </a>

                <div>Author Name</div>
                <span>07 January | 6 min read</span>
            </div>
        </div>
        <div class="home-article">
            <div class="home-article-img">
                <img src="{% static 'deloitte.jpg' %}" alt="article">

            </div>
            <div class="home-article-content font1">
                <a href="blogpost.html">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                </a>

                <div>Author Name</div>
                <span>07 January | 6 min read</span>
            </div>
        </div>
        <div class="home-article">
            <div class="home-article-img">
                <img src="{% static 'jp.jpg' %}" alt="article">

            </div>
            <div class="home-article-content font1">
                <a href="blogpost.html">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                </a>

                <div>Author Name</div>
                <span>07 January | 6 min read</span>
            </div>
        </div>
        <div class="home-article">
            <div class="home-article-img">
                <img src="{% static 'accenture.jpg' %}" alt="article">

            </div>
            <div class="home-article-content font1">
                <a href="blogpost.html">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                </a>

                <div>Author Name</div>
                <span>07 January | 6 min read</span>
            </div>
        </div>

    </div>

    <div class="footer">
        
    </div>
</body>
</html>